/*
Project Name: Blank Template
Client: Relaxr
Author: Mark Van Winkle
Developer @GA in SEA
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

header {
background: url(../images/header_bg.jpg) no-repeat center top;
background-size: cover;
}

.container {
width: 1200px;
margin: 0 auto;
padding: 0px 75px 200px;
}

.container button {
  text-align: center;
  background: #f9e42e;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 60px;
}

.ctayellow {
  position: absolute;
  right: 520px;
  bottom: 200px;
  width: 20px 100px 0 0;
  margin: 0 100px 0 0;
}

.benefits {
background: #F5F5F5;
padding: 200px 0 200px 300px;
margin: 0 auto;
}

.benefits h2 {
  color: #033048;
  font-weight: 600;
  font-size: 30px;
  padding: 0 0 15px 0;
}

.benefits h3 {
  width: 525px;
  color: #606161;
  font-weight: 400;
  font-size: 22px;
  padding: 0 0 35px 0;
}

ul {
  color: #606161;
  font-weight: 400;
  font-size: 23px;
  padding: 0 0px 0 75px;
  font-weight: lighter;
}

li {
 width: 400px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header h1 {
  font-weight: 800;
  font-size: 36px;
}

header h2 {
  text-align: center;
  font-weight: 600;
  font-size: 34px;
  padding: 200px;
}

header h1,
header h2 {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

section {
  background: url(../images/testimonial_bg.jpg) no-repeat center top;
  background-size: cover;
  height: 300px;
}

blockquote {
  font-style: italic;
  color: #FFF;
  text-align: center;
  padding: 50px 550px 0 550px;
  font-size: 18px;
  font-weight: lighter;
}

p {
  font-style: normal;
  text-align: center;
  color: #FFF;
  padding: 15px 0 0 0;
  font-size:18px;
  font-weight: bold;
}

#box {
  background: #f9e42e;
  padding: 0px 200px 0px 200px;
  width: 1425px;
  height: 80px;
  color: white;
  font-weight: bold;
}

#box button {
  text-align: center;
  background: #033048;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 12px;
  padding: 15px 50px;
}

.ctablue {
  position: absolute;
  color: #FFF;
  right: 615px;
  top: 1760px;
}

#box2 {
  background: #121212;
  padding: 0px 200px 0px 200px;
  width: 1425px;
  height: 350px;
  color: white;
  font-weight: bold;
}

#box2 h2 {
  color: #f9e42e;
  text-align: center;
  padding: 75px 0 40px 0;
  font-size: 34px;
}

footer {
color: #FFF;
text-align: center;
padding: 125px 0 0 0;
font-weight: lighter;
}

#box2 .center a {
  width: 25px;
  display: inline-block;
  margin: 0 auto;
}

