.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.main {
	background: url("https://raw.githubusercontent.com/markvanwin/FEWD-SEA-7/master/Week_03_Layout/06_HTML_CSS_Lab/starter_code/startup_matchmaker/images/coworking.jpg");
	background-size: cover;
	width: 100%;
	height: 500px;
}

#sidebar {
	float: right;
	width: 365px;
	height: 300px;
	border: 2px solid black;
	background-color: rgba(255,255,255,0.65);
	margin: 20px 25px 0 0;
}

#sidebar .boxheader {
	text-align: center;
	font-family: "Source Sans Pro";
	margin: 20px 10px 10px 0;
	color: black;
	font-size: 22px;
}

p {
	text-align: left;
	font-family: "Source Sans Pro";
	margin: 20px 10px 20px 30px;
	color: black;
	font-size: 22px;
}

#sidebar .button {
	width: 300px;
	height: 50px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 28px;
	background: #FFFF00;
	margin: 0 auto;
	font-weight: bold;
	font-size: 22px;
	padding-top: 25px;
}