.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

header {
	 background: black;
	 border-bottom: 5px solid yellow;
}

.wrap {
	float: right;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 36px;
	margin: 40px 100px 0 50px;
	font-family: "Source Sans Pro";
	color: yellow;
	float: left;
 	width: 100%;
}

nav {
	color: white;
	float: right;
	margin: 30px 50px 20px 0;
	letter-spacing: -1px;
}

ul {
	padding: 20px;
}

li {
	padding: 20px;
	display: inline;
	font-family: "Source Sans Pro";
	font-size: 14px;
	color: white;
}

.large {
 	font-weight: bold;
 	font-size: 18px;
 }

 a {
 	text-decoration: none;
 	color: white;
 }

